@import "reset.scss";

* {
  box-sizing: border-box;
}

body {
  font-family: serif;
}

.layout {
  height: 100vh;
  display: grid;
  grid-template-columns: 30vw 40vw 30vw;
  grid-template-rows: repeat(12, 1fr);
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-color: #af7732;
    &:hover {
      background-color: #af7732;
      color: white;
    }
  }
  .layout__left {
    grid-column: 1 / 2;
  }
  .layout__right {
    grid-column: 3 / 4;
  }
  article {
    grid-column: 2 / 3;
    grid-row: 2 / 12;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  div:nth-child(4) {
    grid-row: 2 / 4;
  }
  div:nth-child(5) {
    grid-row: 4 / 6;
  }
  div:nth-child(6) {
    grid-row: 6 / 8;
  }
  div:nth-child(7) {
    grid-row: 8 / 10;
  }
  div:nth-child(8) {
    grid-row: 10 / 12;
  }

  div:nth-child(10) {
    grid-row: 2 / 4;
  }
  div:nth-child(11) {
    grid-row: 4 / 6;
  }
  div:nth-child(12) {
    grid-row: 6 / 8;
  }
  div:nth-child(13) {
    grid-row: 8 / 10;
  }
  div:nth-child(14) {
    grid-row: 10 / 12;
  }
}
